/* Made by Joni */

div.hidden{
	display:none;	
}

.storytext{
	padding:100px;
}
.storytext p{
	font-family: courier;
	font-size:15px;
	color: white;
	padding-left:100px;
	padding-right:100px; 
	line-height:150%;
}
.storytext h1{
	font-family: courier;
	text-align:center;
	font-size:60px; 
	margin-bottom:30px;
	color: #ff9933;
}
