/* merkki "*" tarkoittaa siis kaikkea mitä ei ole määritetty perus juureen eri parametreille */
* {
	 
}

body {
	background-color: #005ce6; /* bodylle taustaväri*/ 
	margin: 0; 
	padding: 0; 
}

/* nav ul:le määritettiin class navi, joka tulee tässä siis .navi:na selkeyden vuoksi ja jotta saadaan keskitettyä navikaatio sujuvasti.
eli jos halutaan kaikilla sivuilla navi toimimaan niin <ul class="navigaatio"> */
.navigaatio{
	list-style-type: none;
    font-family: courier;
   	font-size: xx-large;
	background-color: #3399ff;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	overflow: hidden;
}

.navigaatio li{
    display:inline;
}

.navigaatio a{
    display:inline-block;
	color: white;
	padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navigaatio a:hover {
    background-color: #111;
}
/* Actiivinen navi, määritetään <a class="active" href="characters.html">CHARACTERS</a> */
.active {
	background-color: #ff9933;
}
/*Jenna did section*/
/* en muista mitä kaikkea tässä muutettiin mutta table margin: 0 auto; keskittää tablen sisällön keskelle sivua */
div {
	background-color: #005ce6; 
	width: 100%;  /* pituus on aina 100% katsojan pixeleistä/näytöstä */
	height: auto; /* määrittää automaattisesti section korkeuden */
}

img {
	margin: 10px; /* kuvien bordereiden ulkopuolella oleva alue */ 
	border: 3px solid black;
}

.omatyyli {
	margin: 10px;
	border: none;
}

table {
	margin: 0 auto; /* tablen keskitys */
	margin-top:14px; /* tablen päälle tuleva pehmustus jotta navi ei jää alle */
}

table td {
	width:50%;	/* table jakautuu tasaisesti kahtia */
}

iframe {
	
}

/* Tämän hetkinen ratkaisu iframen bordereiden poistoon, scrolli baariakaan ei näy ellei sitä tarvitse */
iframe[seamless]{
    background-color: transparent;
    border: 0px none transparent;
    padding: 0px;
    overflow: hidden;
}

navigaatiocre {
	list-style-type: none;
    font-family: courier;
   	font-size: xx-large;
	background-color: #00BFFF;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	overflow: hidden;
}

.fpkehykset {
	margin: 10px; /* kuvien bordereiden ulkopuolella oleva alue */ 
	border: 3px solid #000099;
	border-radius: 25px;
	
}

h1 {
	font-family: arial black;
	color: #ff9933;
	font-size: 60px;
}
.h1second {
	font-family: courier;
	color: #ff9933;
}

.charkuvaustyylit {
	font-family: courier;
	color: white;
}