
/*Joni has worked around with this CSS*/

p, h1{
	
	padding:0;
	margin:0;
}

body,html{ 
width: 100%;
height: 100%;
}
body{
	background-color: #1E90FF;
	margin: 0; 
	padding: 0; 
}

/*Jenna did section*/
section{
	background-color: #1E90FF; 
	width: 100%;  /* pituus on aina 100% katsojan pixeleistä/näytöstä */
	height: auto; /* määrittää automaattisesti section korkeuden */
}

ul {
    list-style-type: none;
    font-family: courier; /*Jenna*/
   	font-size: xx-large; /*Jenna*/
    margin: 0; /*Joni*/
    padding: 0; /*Joni*/
    overflow: hidden;/*Joni*/
    background-color: #00BFFF; /*Jenna*/
    
    
}


/* Change the link color to #111 (black) on hover */
li a:hover { /*Joni*/ 
    background-color: #111;
}

.navigaatio{
	list-style-type: none;
    font-family: courier;
   	font-size: xx-large;
	background-color: #00BFFF;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
	overflow: hidden;
}

.navigaatio li{
    display:inline; 
}

.navigaatio a{

    display:inline-block;
	color: white;
	padding: 14px 16px;
    text-decoration: none;
}
.active {
	background-color: pink;
}